:host {
    --slds-c-badge-color-background: var(--c-example-purple);
    --slds-c-badge-text-color: var(--c-example-white);
    --slds-c-badge-radius-border: var(--c-example-border-radius-small);
  }